<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>porada</title>
  </head>
  <body>
	<h1> wyniki wyszukiwania „<%= @keyword %>”  </h1>
  	<%= @result_sjp %> <%= @result_uz %> <%= @result_wsjp %> 
 </body>
</html>
