<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>porada</title>
  </head>
  <body>
	<h1> wyniki wyszukiwania „<%= @keyword %>”  </h1>
	<% @results.each do |result| %>
		<%= result.to_s.encode('UTF-8') %> 
		<hr />
	<% end %>	
 </body>
</html>
